.statistics {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 60px;
}

.statistics p:last-child {
  font-weight: bold;
  color: #007bff;
}
